.flex {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 12px;
  font-size: 24px;
}

.separator {
<<<<<<< HEAD
  height: 330px;
  width: 3px;
  background-color: black;
=======
    height: 330px;
    width: 3px;
    margin: 60px;
    background-color: black;
>>>>>>> eee09ec (The add task page is in work by snowcoder404 please do not change this file. Add the prio system with diferent color and add the add_task.js in the scripts folder)
}

.color-red {
  color: red;
}

.input-task {
  padding: 8px;
  border-radius: 8px;
}

.clear-and-create-button {
  height: 40px;
  width: 120px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.prio-button {
  height: 40px;
  width: 100px;
  background-color: white;
  border-radius: 8px;
}
